<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <appSettings>
    <add key="newFile" value="Ctrl+N"/>
    <add key="openFile" value="Ctrl+L"/>
    <add key="saveFile" value="Ctrl+S"/>
    <add key="closeWindow" value ="Esc"/>
    <add key="pluginsMenu" value="F2"/>
    <add key="runPlugins" value="F1"/>
    <add key="settings" value="F9"/>
    <add key="pluginPath" value="\Plugins"/>
  
  </appSettings>

</configuration>